.row {
    display: flex;
}

%tip-cell {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;

}

.cell {
    position: relative;
    $s: 40px;
    width: $s;
    height: $s;
    margin: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: gray;
    /*transition: all linear .2s;*/


    .move-tip {
        @extend %tip-cell;
        background-color: blue;
    }

    .attack-tip {
        @extend %tip-cell;
        background-color: red;
    }
}

.chess {

    @extend %tip-cell;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    font-size: 12px;

    &-group-1 {
        background-color: red;
    }

    &-group-2 {
        background-color: green;
    }

    // todo 区分状态
    %chess-status {
        &:after {

        }

    }

    &-moved {
        //opacity: 0.6;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            $s: 10px;
            width: $s;
            height: $s;
            background-color: purple;
        }
    }

    &-disabled {
        //opacity: 0.6;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            $s: 10px;
            width: $s;
            height: $s;
            background-color: #000;
        }
    }
}

.wall {
    background-color: #000;
}

.mark {
    background-color: purple;
}

.path {
    background-color: yellow;
}

.move-range {
    //background-color: blue;
}
